body {
    text-align: center;
    cursor: url('cursor.png'), auto;
    background-color: black;
 


}
/* Loading page content */

.loadingAvatar {
    height: 180px;
    width: 180px;
    position: absolute;
    top: 36%;
    right: 45%;
    visibility: hidden;

}

.loadingBar{
    height: 70px;
    width: 300px;
    position: absolute;
    top: 55%;
    right: 41%;
    visibility: hidden;
}

.loadingText {
    position: absolute;
    top: 63%;
    left: 45.5%;
    font-size: 20px;
    visibility: hidden;
}

/* Home Page Content */

.name {
    position: absolute;
    top: 30%;
    line-height: 1;
    font-size: 80px;
    right: 39%;
    width: 500px;
    font-family: 'Lilita One', cursive;
    color: #e37f0es;
    letter-spacing: -2px;
    -webkit-text-stroke: 2px white;

}

.firstname {
    font-size:150px ;

}

h2 {
    position: absolute;
    width: 30%;
    top: 63%;
    color: white;
    -webkit-text-stroke: 1px black;
    right: 41%;
    font-family: 'Tilt Warp', cursive;
    border-bottom: 1px solid white;
    line-height: 0.1rem;
}

.portfolio {
   
  padding: 0 10px 0 10px;

}

.playbtn {
    position: absolute;
    top: 70%;
    font-size: 35px;
    right: 49.8%;
    padding: 5px 35px 5px 35px;
    background-color: #e66605;
    color: white;
    font-family: 'Tilt Warp', cursive;
letter-spacing: 5px;
cursor: url('cursor.png'), auto;

}
/*
div {
    position: absolute;
    border: solid;
    border-width: 10px;
    border-color: white;
    left: 10%;
    width: 500px;
    height: 500px;
    background-image: url(https://media.tenor.com/IeXeDuvMYPEAAAAd/no.gif); 
    background-repeat: no-repeat;
    background-size: cover;
    visibility: visible;
    
}
*/
.frame {
    position: fixed;
    z-index: 1;
    display: inline;
    right:10% ;
    height: 750px;
    width: 1100px;
    margin: 0;
    padding-bottom: 50px;
  
}

.tvscreen {
    position: fixed;
    z-index: -2;
    right: 33%;
    top: 15%;
    height: 550px;
    width: 700px;
    border: solid;
    border-width: 5px;
    border-color: black;
    opacity: 1;
}